extends layout

block content
  h1= title
  p Welcome to my #{title}
  script(src='http://mbostock.github.com/d3/d3.v2.js?2.8.1')
  script(src='http://code.jquery.com/jquery-1.7.1.min.js')
  
  

    
